<!DOCTYP html>
<html>
  <head>
    <title>CTL Improvements Summary Survey</title>
    <style>
      h1{
        color: #FF0000;
        font-family: Arial;
        font-size: 30px;
        text-align: center;
      }
      </style>
  </head>
   
    <body>
      <img src="https://umass-teaching-survey-1--plin765.repl.co/static/umass.jpeg" height="150" width="200">
      <h1>Closing-the-Loop(CTL) Improvements Summary Form</h1>
      <p>Please email the completed CTL form together with supporting documents to the AoL liaison from your department. Many Thanks!
      </p>
      <h3>Your Contact Information:</h3>
      
      <h3>CG(s) Addressed by this Improvement:</h3>
      <h3>CG(s) Assessment Information:</h3>
      <h3>CG(s) Improvement Report: For EVERY activity included in the reported improvement, please report:</h3>
      <h3>Additional Comments:</h3>
      <button>Submit</button>
      
    </body>
   
</html>